<!DOCTYPE html>
<html>
<head>
    <title><%= locals.moto.marca %> - <%= locals.moto.modelo %></title>
</head>
<body>
    <h1><%= locals.moto.marca %> - <%= locals.moto.modelo %></h1>
    <p>Año: <%= locals.moto.año %></p>
    <p>Motor: <%= locals.moto.motor %></p>
    <p>Tipo: <%= locals.moto.tipo %></p>
    <p>Precio: <%= locals.moto.precio %></p>
    <p>Características: <%= locals.moto.características %></p>
    <a href="/motos/<%= locals.moto.id %>/edit">Editar</a>
    <form action="/motos/<%= locals.moto.id %>/delete" method="POST" style="display:inline;">
        <button type="submit">Eliminar</button>
    </form>
    <a href="/motos">Volver</a>
</body>
</html>
